aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==3.0.4
colorama==0.4.4
configparser==5.0.1
crayons==0.4.0
discord==1.0.1
discord.py==1.5.1
idna==2.10
lyricsgenius==2.0.2
multidict==4.7.6
requests==2.25.1
selenium==3.141.0
soupsieve==2.1
typing-extensions==3.7.4.3
urllib3==1.26.2
webdriver-manager==3.2.2
yarl==1.5.1
